<h1>Customer</h1>

<%= render partial: 'customer', 
           collection: @customers %>


<%= link_to 'Customer in Order', alphabetized_customers_path %>
<%= link_to 'Customer with no Email', missing_email_customers_path %>
