// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cust{
	float: left;
	width: 240px;
	padding: 20px;
	border: solid 1px;
	height: 380px;
	margin-right: 20px;
}

img{
	width: 200px;
	height: 180px;
}

body{
	margin: 20px;
}